a {
  color: #39ff14;
}

h6 {
  color: #0096ff;
}

.chris-img {
  border-radius: 100%;
  filter: grayscale(86%);
  width: 250px;
  height: 250px;
  vertical-align: baseline;
}

.header-text {
  display: inline;
  font-size: 60pt;
  font-family: arial;
  float: left;
}

.github-img {
  vertical-align: bottom;
  padding: 10px;
}

.text-color-green {
  color: #39ff14;
}

.text-color-blue {
  color: #0096ff;
}

.map {
  width: 800px;
  height: 600px;
}

.pad-bottom {
  padding-bottom: 20px;
}
