.chris-img {
  border-radius: 50%;
  filter: grayscale(80%);
  width: 400px;
  height: 400px;
}

.header-text {
  display: inline;
  font-size: 6em;
  font-family: arial;
  vertical-align: middle;
}

